
/*
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(189, 183, 58);
}

li {
display: flex;
}

li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
*/
/*
html {
    background-color: aqua;
}
/*
.nav {
    display: block;
    width: 600px;
    background-color: aqua;
    border-radius: 25px;
    
    margin-left: auto;
    margin-right: auto;

    left: 50%;



    border: 1px solid black;
    /*display: inline-block;

    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
    box-sizing: border-box;
}

.nav ul{
    padding: 0;
    margin: 0;

}


.nav li {
    list-style: none;



    float: left;
    margin-left: 10px;

}

.nav a{
    display: block;
    text-decoration: none;
    background-color: cadetblue;
    /*margin-left: auto;
    margin-right: auto;*/

    /*border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-sizing: border-box;
    
}
/*
ul:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/*
li .rl {
    background-color: greenyellow;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.ll {
    background-color: greenyellow;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}


body {
    margin: 0;
}

ul {
    list-style-type: none;

}


body {
    margin: 0;
}

.nav {
    position: relative;
    overflow: hidden;
    background-color: aqua;
}

.nav a {
    float: none;
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*
@media screen and (max-width: 920px) {
    .anchor {
        height: 125px;
    }
    .nav {
        width: 400px;
        /*height: 10%;*/
 /*      
    }
    

    .nav a{
        font-size: 110%;
        width: 50%;

    
    }


    .cs:hover {
        border-top-right-radius: 25px;
        box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    
    }
    .rr:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 25px;
        box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    
    }
    
    .ls:hover {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 0;
        box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    
    }
    
    .rs:hover {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    
    }

    .batch_collection{
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        width: 100%;
        height: 200px;

        font-size: 120%;
        text-align: center;
        /*background-color: blanchedalmond;*/
/*        margin-top: 40px;
        box-sizing: border-box;
    }

    .child {
        height: 600px;
        padding: 10px;
        
        /*background-color: #3919b6;*/
/*        background: rgba(255,255,255,.2);
        border: 1px solid rgba(255, 255, 255, .18);
    
    
        border-radius: 25px;
        box-sizing: border-box;
    }

  }


/*html {
    background-color: aqua;
}*/


/*
@media screen and (max-width: 430px) {
    .anchor {
        height: 100%;
        /*background-color: yellow;*/
/*    }

    
    .nav {
        width: 600px;
        /*height: 10%;*/
/*        margin-top: 20px;
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        
    
       
    
        background-color: aqua;
        /*overflow: hidden;*/
    
/*        background: rgba(255,255,255,.1);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border: 1px solid rgba(255, 255, 255, .18);
    
        backdrop-filter: blur(4px);
        border-radius: 25px;
    
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }
    
    
    
    
    
    .nav a{
        float: left;
        font-size: large;
        color: black;
        display: block;
        
        padding: 10px;
        text-decoration: none;
        width: 25%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    
    }


  }*/


body {
    /*width: 100px;
    height: 100px;*/
    /*padding: 20px 100px;*/
    width: 100%;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(-45deg, #ffa68b, #ff71a7, #70d9ff, #3cffd2);
    background: linear-gradient(-45deg, #ff8c69, #8d51fd, #46ffc5, #f6ff72);
    background: linear-gradient(-45deg, #fc744a, #8a4dfc, #33febe, #f7d827);
    background: linear-gradient(-45deg, #85ffbd, #fffb7d);
    background: linear-gradient(-45deg, #7ee8fa, #eec0c6);
    background: linear-gradient(-45deg, #43cea2, #185a9d);
    background: linear-gradient(-45deg, #4ca1af, #c4e0e5);
    background: linear-gradient(-45deg, #ff5f6d, #ffc371);
    background: linear-gradient(-45deg, #fc5c7d, #6a82fb);
    background: linear-gradient(-45deg, #00b09b, #96c93d);*/

    background: linear-gradient(-45deg, #D16BA5, #86A8E7, #5FFBF1);







    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    box-sizing: border-box;
}
/*
nav ul {
    width: 500px;
    text-align: center;
    background-color: #ee7752;
    padding: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

nav ul li {

    display: inline-block;
    padding: 20px;
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #23d5ab;
}*/


/* Navigation bar*/

.anchor {
    /*height: 80px;*/
    background-color: yellow;
}

.nav {
    width: 600px;
    /*height: 10%;*/
    margin-top: 20px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    

   

    background-color: aqua;
    /*overflow: hidden;*/

    background: rgba(255,255,255,.1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba(255, 255, 255, .18);

    backdrop-filter: blur(4px);
    border-radius: 25px;

    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}





.nav a{
    float: left;
    font-size: large;
    color: black;
    display: block;
    
    padding: 10px;
    text-decoration: none;
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

}

.nav div {
    margin: 0;
    padding: 0;
}

.cs {
    float: left;
}

.ls {
    float: left;


}

.rs {
    float: left;


}


.cs:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);

}

.ls:hover {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);

}

.rs:hover {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);

}

/* Navigation bar ends */


.container {
    max-width: 1040px;
    
    height: 600px;
    /*background-color: blanchedalmond;*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
 
.projlist {
    height: 500px;
    padding: 2px;
    border-radius: 25px;
    margin-top: 10px;


    /*background-color: #ee7752;*/
    box-sizing: border-box;
}

.child {
    height: 400px;
    padding: 10px;
    margin-top: 100px;    /*/**///*/*/*/*//**/
    /*background-color: #3919b6;*/
    background: rgba(255,255,255,.2);
    border: 1px solid rgba(255, 255, 255, .18);


    border-radius: 25px;
    box-sizing: border-box;
}

.grandchild {
    margin-top: 5px;
    padding: 8px;
    /*background-color: #2ab844;*/
    background: rgba(255,255,255,.2);

    border: 1px solid rgba(255, 255, 255, .18);


    border-radius: 25px;
    font-size: large;
    box-sizing: border-box;

    h3 {
        margin-left: 20px;
        color: rgb(59, 59, 59);
    }
}



.batch_collection{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    width: 100%;
    height: 200px;
    /*background-color: blanchedalmond;*/
    margin-top: 40px;
    box-sizing: border-box;
}

.batch_collection a{
    text-align: center;
    text-decoration: none;
    /*left: 50%;
    width: 200px;*/

    color: rgb(59, 59, 59);
    font-size: 120%;

    /*background: rgba(255,255,255,.1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba(255, 255, 255, .18);
    backdrop-filter: blur(4px);*/
    border-radius: 25px;

    height: 40px;
    
    padding: 10px;
    /*width: 33.33333%;*/
 /*   width: 20%;
    text-align: center;
    margin-top: 10px;*/

    


    box-sizing: border-box;
}

.bat:hover {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}


  .not_active {
    pointer-events: none;
    box-shadow: none;
    
  }

  .dim {
    color: white;
  }





  

/*
.batch_collection a{
    float: left;
    font-size: large;
    color: black;
    display: block;

    background: rgba(255,255,255,.1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba(255, 255, 255, .18);

    backdrop-filter: blur(4px);
    border-radius: 25px;

    
    
    padding: 10px;
    text-decoration: none;
    /*width: 33.33333%;*/
 /*   width: 20%;
    text-align: center;
    margin-top: 10px;

    


    box-sizing: border-box;



}

/*
.projlist {             /*container*/
 /*   width: 1000px;
    height: 200px;
    background-color: white;
    margin-left: auto;
    margin-right:auto;
    border-radius: 25px;
    box-sizing: border-box;
}
/*
.child {
    float: left;
    width: 98%;
    margin-top: 10px;
    padding: 15px;
    border-radius: 25px;
    background-color: #9ed128;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

/*
.child {                /*box layer 1*/
 /*   width: 34%;
    background-color: rgb(105, 222, 123);
    padding: 20px 40px;
    font-size: 85%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
 

}

.projlist div{
    display: block;
}

/*
.projlist {
    width: 800px;
    height: 200px;
    background-color: brown;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;

    p {
        text-align: center;
        margin: auto;
    }
}
*/
/* 
section {
    border: 10px solid gray;
    height: 90vh;

    position: relative;


}

.child {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 600px;
    float: left;
    background-color: rgb(105, 222, 123);
    padding: 20px 40px;
    font-size: 85%;
    z-index: 11;

    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;*/


    /*width: 600px;
    height: 400px;
    background-color: white;
    margin: 100px auto;
    position: absolute;*/
/*
    max-width: 600px;
    margin: auto;
    background-color: white;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;

    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    word-wrap: none;
}/*
.child p{
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





/*
.projlist {
    background-color: brown;
    width: 1000px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
/*
.prol {
    width: 100%;
    background-color: yellow;
    color: black;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    font-size: 150%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.active, .prol:hover {
    background-color: blue;
}
 
.batches {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ee7752;
}

/*
.nav a:hover {
    border-radius: 25px;

    /*box-shadow: 10px 10px 10px rgba(0,0,0,.5);*/
    /*box-shadow: 0px 0px 10px rgba(0,0,0,.5);

}
*/

/*
.nav {
    margin-top: 20px;
  }
  
.nav ul {
    margin: 0;
    padding: 0;
  }
  
.nav li {
    list-style: none;
    float: left;
    
    
    
    /*margin-right: 5px;*/
 /* }
  
.nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;


    background-color: #365267;
    transition-property: color, background-color;
    transition-duration: 2s;
  }

.nav  a:hover {
    background-color: #fff;
    color: #2c465a;
  }*/






.row:before,
.row:after,
.group:before,
.group:after {
  content: "";
  display: table;
}

.row:after,
.group:after {
  clear: both;
}

.row,
.group {
  zoom: 1;
}

